.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 500px;
    height: 400px;
    font-size: 15px;
    background: linear-gradient(45deg, Violet, pink);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 13px;
}

input[type="text"], input[type="password"] {
    width: 250px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}

.button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: orchid;
    margin: 0 auto;
    display : block;
}

.button:active {
    background-color:violet;
}
.button:hover{color : aqua;}

h2
{color : palevioletred;
 font-family: 'Times New Roman', Times, serif;
 font-size: 40px;
 text-align: center;
 }
body{
    background: plum;
}